
<div id="notes">
  <% @notable.notes.each do |note| %>
      <%= note.content %>
      <%= link_to "Edit", edit_player_note_path( note) %>
      <%= link_to "destroy", player_note_path(note), method: :delete %>
  <% end %>
</div>

