<!--- <% <table>
   <thead>
      <tr>
         <th>Name</th>
         <th>Description</th>
         <th>Status</th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <%# @tasks.each do |task| %> 
         <td><%#= task.name %></td>
         <td><%#= task.description %></td>
         <td><%#= task.status %></td>
         <td><%#= link_to "show", [task.project, task] %> 
         <th><%#= link_to "edit", edit_project_task_path(task.project, task) %>  
         <th><%#= button_to "destroy",  [task.project, task], method: :delete %> 
         <%# end %>
      </tr>
    </tbody>
</table>  -->  

<%#= link_to "New Task", new_project_task_path(params[:project_id]) %>